@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&family=Roboto&display=swap");

:root {
  --theme1: #dddddd;
  --theme2: #f9f3f3;
  --theme3: #f7d9d9;
  --theme4: #f25287;
  --theme5: #f50057;
  --theme6: #fa99bb;
  --secondary-bg: #aaaaaa;
  --secondary-text: #666666;

  --avatar-size: 15rem;
  --photo-size: 200px;
  --photo-border: 10px;
  --photo-box: calc(var(--photo-size) + var(--photo-border) * 2);

  --button__font: "Roboto", sans-serif;
}

html {
  height: 100%;
  width: auto;
  margin: 0;
}

body {
  background-color: var(--theme1);
  margin: 0;
  max-width: inherit;
  width: auto;
}

/* ------------ <LandingSection.js> ------------ */

.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  min-height: -webkit-fill-available;
  position: relative;
  text-shadow: 3px 3px 5px black;
  width: auto;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../images/wedding_venue.jpg);
  padding: 5px;
}

.center {
  text-align: center;
}

.title-box {
  color: white;
  margin-bottom: -75px;
  position: relative;
  top: -75px;
  z-index: 1;
}

.avatar {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../images/devan_and_gina.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: white;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  filter: drop-shadow(3px 3px 4px black);
  height: var(--avatar-size);
  position: relative;
  width: var(--avatar-size);
}

div.MuiContainer-root {
  padding-left: 8px;
  padding-right: 8px;
}

.avatar-box {
  max-width: none;
  position: relative;
  text-align: center;
}

.avatar-name-text {
  font-family: "Sacramento", sans-serif;
  font-size: 4.7rem;
  line-height: 1;
  margin: 0;
}

.avatar-detail-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}

.avatar-detail-text:hover {
  text-decoration: underline;
}

.avatar-date-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

/* ------------ </LandingSection.js> ------------ */

/* ------------ <ScheduleSection.js> ------------ */

.schedule-row {
  max-width: 1000px;
  margin: auto;
}

/* ------------ <Schedule.js> ------------ */

.paper {
  margin: 30px auto 30px;
  max-width: 400px;
  padding: 30px 0 30px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .paper {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.schedule-body-text {
  color: var(--secondary-text);
  font-family: "Montserrat", sans-serif;
}

/* ------------ </Schedule.js> ------------ */

/* ------------ <Photos.js> ------------ */

div.photo-box {
  height: 300px;
  margin-bottom: 70px;
}

.box {
  position: absolute;
  height: var(--photo-box);
  width: var(--photo-box);
}

.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: white;
  border-style: solid;
  border-width: var(--photo-border) var(--photo-border)
    calc(var(--photo-border) * 4);
  height: var(--photo-size);
  filter: drop-shadow(3px 3px 4px black);
  position: absolute;
  width: var(--photo-size);
}

.photo1 {
  background-image: url(../images/proposal.jpg);
  right: 108px;
  transform: rotate(-21deg);
}

.photo2 {
  background-image: url(../images/proposal.jpg);
  z-index: 1;
}

.photo3 {
  background-image: url(../images/proposal.jpg);
  left: 102px;
  transform: rotate(13deg);
}

@media (max-width: 500px) {
  div.photo-box {
    display: none;
    position: fixed;
  }
}

/* ------------ </Photos.js> ------------ */

footer {
  background-color: var(--secondary-bg);
  padding: 20px;
}

.footer-container {
  padding: 30px;
  text-align: center;
}

/* ------------ <IconBar.js> ------------ */

.icon-bar {
  padding-bottom: 20px;
}

/* ------------ <IconBarItem.js> ------------ */

svg.icon {
  color: var(--secondary-text);
}

/* ------------ </IconBarItem.js> ------------ */

/* ------------ </IconBar.js> ------------ */

.footer-text {
  color: var(--secondary-text);
  padding: 3px;
  text-decoration: none;
}

/* ------------ </Footer.js> ------------ */
